
{% extends "main.tpl" %}  

{% block content %}

<div class="page_box">
	<div class="container">
		{% if blog %}
			<div class="text-center">
				<h2>{{ blog.name }}</h2>
				<p class="text-muted small">{{ 'Published'|trans }}: {{ blog.date|date("d-m-Y") }}</p>
				<p><a href="{{ path('blog') }}" title="{{ 'Return to the list of blogs'|trans }}" class="main-color-1">{{ 'Return to the list of blogs'|trans }}</a></p>
			</div>
			<br>
			<div class="content">
				{{ blog.content|raw }}
			</div>
			<div class="d-print-none">
				<div class="social_share_box">
					<small>{{ 'Share'|trans }}: </small>
					{% if settings.social_facebook %}
						<a href="https://www.facebook.com/sharer/sharer.php?u={{ path('blog',blog.id,blog.slug) }}" title="{{ 'Share'|trans }} Facebook" rel="nofollow" target="_blank"><i class="fab fa-facebook"></i></a>
					{% endif %}
					{% if settings.social_twitter %}
						<a href="https://twitter.com/intent/tweet?text={{ blog.name }} {{ path('blog',blog.id,blog.slug) }}" title="{{ 'Share'|trans }} Twitter" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i></a>
					{% endif %}
					{% if settings.social_pinterest %}
						<a href="https://pinterest.com/pin/create/button/?url={{ path('blog',blog.id,blog.slug) }}&media={{ settings.logo_facebook }}" title="{{ 'Share'|trans }} Pinterest" rel="nofollow" target="_blank"><i class="fab fa-pinterest"></i></a>
					{% endif %}
					{% if settings.social_linkedin %}
						<a href="https://www.linkedin.com/shareblog?mini=true&url={{ path('blog',blog.id,blog.slug) }}&title={{ blog.title }}" title="{{ 'Share'|trans }} LInkedIn" rel="nofollow" target="_blank"><i class="fab fa-linkedin"></i></a>
					{% endif %}
				</div>
				{% if settings.allow_comments_fb_blog %}
					<br>
					<div class="fb-comments" data-href="{{ path('blog',blog.id,blog.slug) }}" data-numposts="15"></div>
				{% endif %}
			</div>
		{% else %}
			<h2>{{ 'Blog'|trans }}</h2>
			<br>
			{% include 'partial/blog.tpl' %}
			{% if blogs %}
				<br>
				{% include 'partial/pagination.tpl' %}
			{% endif %}
		{% endif %}
	</div>
</div>

{% endblock %}

