
{% extends "main.tpl" %}

{% block content %}
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="modalAddLocationTitle">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalAddLocationTitle">{{ 'Add location'|trans }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<form method="post">
				<input type="hidden" name="action" value="add_location">
				<input type="hidden" name="token" value="{{ generateToken('admin_add_location') }}">
				<div class="modal-body">
					<label>{{ 'The name'|trans }}</label>
					<input type="text" name="name" required maxlength="64" placeholder="{{ 'The name'|trans }}" title="{{ 'The name'|trans }}" class="form-control">
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-secondary" data-dismiss="modal" value="{{ 'Cancel'|trans }}">
					<input type="submit" class="btn btn-primary" value="{{ 'Execute'|trans }}">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="page-header">
	<h1><i class="fas fa-th"></i> {{ 'Locations'|trans }}</h1>
	<p>{{ 'Here you can edit locations on the site'|trans }}</p>
</div>

{% include 'alert.tpl' %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">{{ 'Add location'|trans }}</button>
<br><br>
{% if locations %}
	<table class="table table-striped table-bordered table-sm">
		<tr>
			<th></th>
			<th>{{ 'The name'|trans }}</th>
			<th class="text-center" style="width:55px">{{ 'Position'|trans }}</th>
			<th class="text-center">{{ 'Edit'|trans }}</th>
			<th class="text-center">{{ 'Remove'|trans }}</th>
		</tr>

		{% for item in locations %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ item.name }}</td>
				<td class="text-center">
					<button class="btn btn-link fas fa-arrow-up ajax {% if loop.first %}inactive{% endif %}" title="{{ 'Position up'|trans }}" data-action="position_location" data-id="{{ item.id }}" data-position="{{ item.position }}" data-plusminus="+" data-token="{{ generateToken('admin_position_location') }}"></button>
					<button class="btn btn-link fas fa-arrow-down ajax {% if loop.last %}inactive{% endif %}" title="{{ 'Position down'|trans }}" data-action="position_location" data-id="{{ item.id }}" data-position="{{ item.position }}" data-plusminus="-" data-token="{{ generateToken('admin_position_location') }}"></button>
				</td>
				<td class="text-center"><button class="btn btn-link fas fa-edit" title="{{ 'Edit'|trans }}" data-toggle="modal" data-target="#edit_{{ item.id }}"></button></td>
				<td class="text-center"><button class="btn btn-link fas fa-trash-alt text-danger" title="{{ 'Remove'|trans }}" data-toggle="modal" data-target="#remove_{{ item.id }}"></button></td>
			</tr>

			<div class="modal fade" id="edit_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="modalEditTitle{{ item.id }}">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalEditTitle{{ item.id }}">{{ 'Edit'|trans }}: {{ item.name }}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<form method="post">
							<input type="hidden" name="action" value="edit_location">
							<input type="hidden" name="id" value="{{ item.id }}">
							<input type="hidden" name="token" value="{{ generateToken('admin_edit_location') }}">
							<div class="modal-body">
								<label>{{ 'The name'|trans }}</label>
								<input type="text" name="name" required maxlength="64" placeholder="{{ 'The name'|trans }}" title="{{ 'The name'|trans }}" value="{{ item.name }}" class="form-control">
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-secondary" data-dismiss="modal" value="{{ 'Cancel'|trans }}">
								<input type="submit" class="btn btn-primary" value="{{ 'Execute'|trans }}">
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="modal fade" id="remove_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="modalRemoveTitle{{ item.id }}">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalRemoveTitle{{ item.id }}">{{ 'Remove location'|trans }}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<form method="post">
							<input type="hidden" name="action" value="remove_location">
							<input type="hidden" name="id" value="{{ item.id }}">
							<input type="hidden" name="token" value="{{ generateToken('admin_remove_location') }}">
							<div class="modal-body">
								<p>{{ 'Do you really want to remove a location'|trans }}: "{{ item.name }}"?</p>
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-secondary" data-dismiss="modal" value="{{ 'Cancel'|trans }}">
								<input type="submit" class="btn btn-danger" value="{{ 'Remove'|trans }}">
							</div>
						</form>
					</div>
				</div>
			</div>

		{% endfor %}
	</table>
		<p><button class="btn btn-link ajax_confirm" title="{{ 'Arrange alphabetically'|trans }}" data-action="arrange_location_alphabetically" data-title="{{ 'Do you really want to arrange alphabetically locations?'|trans }}" data-token="{{ generateToken('admin_arrange_location_alphabetically') }}">{{ 'Arrange alphabetically'|trans }}</button></p>
{% else %}
	<h4 class="text-danger">{{ 'Nothing found'|trans }}</h4>
{% endif %}
{% endblock %}
